{% set isPopup = query('popup') != null %}
{% set toastText = page.message.display ? page.message.text : '' %}
{% set packageImageDefault = '/assets/img/empty.png' %}

{% set isNavigationVertical = config('nav-style') == 'Vertical Nav in Sidebar' %}
{% set navClass = isNavigationVertical ? 'is-navigation-vertical' : 'is-navigation-horizontal' %}
{% set sidebarClass = config('sidebar-position') == 'Right' ? 'is-sidebar-right' : 'is-sidebar-left' %}
{% set homeCategoriesClass = config('home-categories') == 'On' ? 'home-categories-enabled' : '' %}

{% set bodyClassStr = navClass ~ ' ' ~ sidebarClass ~ ' ' ~ homeCategoriesClass %}

{% if isPopup == false %}
  {% include "head.twig" %}

  <body class="{{ bodyClassStr }} {{ block('bodyClass') }}">
    <div class="biomc-page" data-toast="{{ toastText }}">
      {% include "header.twig" %}

      <main class="biomc-main">
        <div class="biomc-container">
          {{ block('content') }}
        </div>
      </main>

      {% include "footer.twig" %}
    </div>
  </body>
  </html>
{% else %}
  <body class="biomc-popup" data-toast="{{ toastText }}">
    {{ block('content') }}
  </body>
{% endif %}
